<div style="margin-left: auto; margin-right: auto">
  <p id="formFeedback"></p>
</div>
<div class="container">
  <h1>Login</h1>
  <form [formGroup]="registroForm" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <input matInput [formControl]="email" placeholder="Correo electrónico" />
      <mat-error *ngIf="email.hasError('required')">El correo electrónico es obligatorio</mat-error>
      <mat-error *ngIf="email.hasError('pattern')">Ingrese un correo electrónico válido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput [formControl]="password" type="password" placeholder="Contraseña" />
      <mat-error *ngIf="password.hasError('required')">La contraseña es obligatoria</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">La contraseña debe tener al menos 8 caracteres</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Ingresar</button>
  </form>
</div>
