.sidenav-container {
  display: flex;
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1); /* Agregamos una sombra para resaltar el sidenav */
}

.mat-nav-list {
  padding-top: 20px;
}

.mat-nav-list a {
  text-decoration: none;
  color: #333;
  display: block; /* Asegura que los elementos de la lista se extiendan al ancho del sidenav */
  padding: 10px; /* Añade un espacio alrededor de los elementos de la lista */
}

.mat-nav-list a:hover {
  background-color: #eee;
}

mat-list-item.expandir {
  height: max-content;
  .mat-expansion-panel-header {
    padding: 0 24px 0 0;
  }
}

.itemNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// mat-panel-description{
//   width: 100%;
// }
