<mat-toolbar color="primary">
  <div style="display: flex;width: 100%;flex-direction: row;align-items: center;">
    <button (click)="toggleDrawer()" mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button>
    <div routerLink="/">OrganizaToDo</div>
<!--
    <div class="spacer"></div>
    <mat-form-field>
      <input matInput placeholder="Buscar" type="text"/>
    </mat-form-field>
    <button type="submit">Buscar</button> -->

    <div class="spacer"></div>

    <span class="spacer" ></span>
    <div class="auth-links" *ngIf="showNoAuthSection">
        <button routerLink="/register" mat-button >Register</button>
        <button routerLink="/login" mat-raised-button color="accent">Login</button>
    </div>
    <div class="barra-tareas" *ngIf="showAuthSection">
      <button mat-fab routerLink="/crearTarea" (click)="agregarTarea()">
        <mat-icon>add_task</mat-icon>
      </button>
    </div>
    <div class="auth-links" *ngIf="showAuthSection">
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </div>
</mat-toolbar>

